@import "../../style.scss";

.posts {
    @include themify($themes) {
        background-color: themed("bgSoft");
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        min-height: 100vh;
        h2 {
            color: themed("textColor");
        }
    }

}
