@import "../../style.scss";

.Nav {
    @include themify($themes) {
        display: flex;
        height: 50px;
        padding: 10px 20px;
        border-bottom: 1px solid themed("border");
        justify-content: space-between;
        align-items: center;
        // 设为粘性，在顶部
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 999;


        .left {
            display: flex;
            padding: 5px 20px;
            align-items: center;
            gap: 50px;

            .logo {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");
            }

            .search {
                display: flex;
                align-items: center;
                border: 1px solid themed("border");
                border-radius: 8px;
                padding: 5px;

                input {
                    border: none;
                    width: 400px;
                    background-color: transparent;
                    color: themed("textColor");

                    @include mobile {
                        display: none;
                    }
                }

                .searchIcon {

                    font-size: 18px;
                    color: rgb(75, 75, 75);
                }
            }


        }

        .right {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                display: none;
            }

            .svg {
                margin-top: 4px;
                cursor: pointer;
            }

            .ant-popover-content p {
                margin: 0;
                background-color: blue;

            }
            .logout {
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                cursor: pointer;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }
        }

    }

}