
/* 视频播放器 */
.video-box {
    width: 959px;
    height: 539px;
    /* 16:9 宽高比,后续再配置吧，这个无效 */
    /* padding-bottom: 56.25%;  */
    position: relative;

}

.video-box video {
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* 视频列表 */
.list {
    margin: 2px 102px;
    padding-bottom: 0;
}
.card {
    width: 316px;
    height: 150px;
    margin-left: -3px;
}

